.containerHall {
    width: 90%;
    padding: 20px 20px;
    border-top: 1px solid rgba(136, 131, 131, 0.336);
    margin: 0 auto;
}

.screen {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 70px;
    padding: 10px;
    border-bottom: 3px solid blue;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.info {
    display: flex;
    padding: 20px;
}

tbody {
    border-spacing: 5px 20px;
}

tbody th {
    text-align: left;
}

.free {
    border: 1px solid rgb(93, 115, 241);
    border-radius: 5px;
    padding: 20px;
}

.vip {
    border: 1px solid rgb(255, 11, 11);
    border-radius: 5px;
    padding: 20px;
}

.close {
    color: white;
    background-color: gray;
    border-color: black;
    border-radius: 5px;
    padding: 20px 10px;
    margin: 5px;
}

.hall {
    padding: 20px 20px;
    border: 1px solid #3cb4e7;
    border-radius: 10px;
}

.open {
    border: 1px solid rgb(93, 115, 241);
    border-radius: 5px;
    padding: 20px 10px;
    margin: 5px;
}